<!--Menú Principal-->
<mat-toolbar position="relative" class="fijo">
  <div class="imagen-menu"></div>
  <button class="mat_button" mat-button [matMenuTriggerFor]="menu">Menú</button>
  <mat-menu #menu="matMenu">
    <button mat-button><i class = "material-icons">account_circle</i> Perfil</button>
    <button mat-button><i class = "material-icons">add_alert</i> Alertas</button>
    <button mat-button><i class = "material-icons">remove_circle</i> Salir</button>
    <button mat-menu-item>Tus Productos</button>
    <button mat-menu-item>Tu Organizador</button>
    <button mat-menu-item>Pagos</button>
    <button mat-menu-item>Transferencias</button>
    <button mat-menu-item>Certificados</button>
    <button mat-menu-item>Seguridad</button>
  </mat-menu>
</mat-toolbar>


<div class="content" role="main">
  <!-- Creación de las tarjetas -->
  <div class="div-intro">
    <h4 class = "texto-4">Hola de nuevo</h4>
    <h1 class = "texto-titulo">Andrés</h1>
  </div>
  <div class="div-toggle">
     <mat-button-toggle (click)="toggleBancos()" id="btca" class ="toggle-boton btn-circulo"></mat-button-toggle>
    <p class="footer-parrafo">Ver productos de otros bancos</p>
  </div>

  <app-card class="app-card"></app-card>
  
  <div *ngIf="show" class="divisor-otros">
    <mat-divider class="divisor-otros"></mat-divider>
    <h3>Productos de Otros Bancos</h3>
    <app-otros-card class = "app-otros-card"></app-otros-card>
  </div>

  <!-- Footer -->
  <footer class = "center">
    <div class="divisor-otros center">
      <mat-divider class="divisor-otros"></mat-divider>
      <h4 class="footer-titulo"><b class="gris">¿No encuentras lo que estás buscando?</b></h4>
      <p class = "footer-parrafo">Seguimos trabajando para tener todo lo que necesitas en esta nueva experiencia. Mientra tanto, puedes buscar lo que no encuentres en la versión anterior. </p>
      <mat-button-toggle  id="btca" class ="toggle-boton btn-azul">Ver Versión Anterior</mat-button-toggle>

    </div>
  </footer>
</div>