<!--Menú Principal-->
<mat-toolbar position="relative" class="fijo">
  <div class="imagen-menu"></div>
  <button class="mat_button" mat-button [matMenuTriggerFor]="menu">Menú</button>
  <mat-menu #menu="matMenu">
    <button mat-button><i class = "material-icons">account_circle</i> Perfil</button>
    <button mat-button><i class = "material-icons">add_alert</i> Alertas</button>
    <button mat-button><i class = "material-icons">remove_circle</i> Salir</button>
    <button mat-menu-item>Tus Productos</button>
    <button mat-menu-item>Tu Organizador</button>
    <button mat-menu-item>Pagos</button>
    <button mat-menu-item>Transferencias</button>
    <button mat-menu-item>Certificados</button>
    <button mat-menu-item>Seguridad</button>
  </mat-menu>
</mat-toolbar>


<div class="content" role="main">
  <!-- Creación de las tarjetas -->
  <div class="div-intro">
    <h4 class = "texto-4">Hola de nuevo</h4>
    <h1 class = "texto-titulo">Andrés</h1>
  </div>
  <div class="div-toggle">
    <mat-slide-toggle>Ver otros productos</mat-slide-toggle>
  </div>

  <app-card class="app-card"></app-card>
  
  <app-otros-card class = "app-otros-card"></app-otros-card>


  <!-- Footer -->
  <footer>
  </footer>
</div>